
.wishlist-button, .wishlist-product-button, .wishlist-button-not-login {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wishlist-button-remove, .wishlist-product-button-remove, .wishlist-list-remove {
    background-color: #ee1e2d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wishlist-button-not-login a {
    color: #fff;
}

.wishlist-button:hover, .wishlist-product-button:hover, .wishlist-button-not-login:hover {
    background-color: #0056b3;
}

.wishlist-button-remove:hover, .wishlist-product-button-remove:hover, .wishlist-list-remove:hover {
    background-color: firebrick;
}
